#navigation {
    background: white;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    paddong-left: 10px;
    z-index: 101;
    height: 30px;
    font-size: 20px;
    text-align: right;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
    margin: 0px;
}

main {
    padding: 20px;
    padding-top:30px;
}

.move {
    position: fixed;
    background-color: WHITE;
    margin: 60px;
    padding: 60px;
    width: 50%;

}

div {
    font-size: 30px;

}

.container {
    display: flex;
    flex-direction: row;
    border: 1px solid;

}

.container div {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: -moz-available;
    height: 25px;
}

.container .item1 {
    background-color: blue;
    order: 1;
}

.container .item2 {
    background-color: green;
    order: 1;
}

.container .item3 {
    background-color: red;
    order: 1;
}

